* {
    margin: 0;
    padding: 0;
}
.imageBox {
  position: relative;
  float: center;
  width: 100%;
}
.imageBox .imageInn {
	border-radius: 10px;
}	
.imageBox .hoverImg {
  position: absolute;
  left: 0px;
  top: 0px;
  float: center;
  width: 100%;
  display: none;
}
.imageBox:hover .hoverImg {
	display: block;
}
.imageBox:hover .imageInn {
  opacity:0;
}
div.imageInn img,div.hoverImg img{
	 border-radius: 10px;
	 overflow: hidden;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
}
body {
    font-family:OCR A Std, Times, monospace;
    font-size: 24px;
    background-color: #ffffff;
    color: #ffffff;
}
header {
    background-color: #e4e4e4;
    background-repeat: no-repeat;
    background-size: contain;
}
header h1 {
    text-shadow: 1px 1px 3px #161616;
    height: 100%;
	color: #e03434;
    text-align: center;
	text-transform: uppercase;
    font-size: 2em;
    padding: 1rem;
}
nav {
    padding: .3rem;
    height: auto;
    background-color: #161616;
}
nav ul {
    list-style-type: none;
    text-align: center;
    font-size: 1.5em;
}
nav ul li {
    display: inline-block;
    margin-right: 30px;
}
nav ul li img{
	border-radius: 50px;
}
nav ul li img:hover{
	border-radius: 100px;
}
main {
    padding: .2rem;
	display: flex;
}
div.first {
	flex:1;
	order: 2;
}
div.second {
	flex:3;
	order: 1;
    margin: 0 .3rem;
}
div.third {
	flex:1;
	order: 0;	
}
main article{
	font-size: 22px;
    background-color: #161616;
}
main aside:nth-child(1) {
	font-size: 17px;
	color:#161616;
	background-color: #c4c4c4;
    border-radius: 5px;
	margin-bottom: .3rem;
}
main aside:nth-child(2) div.sticky aside .imageBox {
	border-radius: 5px;
}
.sticky aside p {
	text-align: center;
}
main article{
    padding: .3rem;
    border-radius: 5px;
    margin-bottom: .2rem;
}
.ArticleBottom{
    margin-top: .2rem;
    font-weight: bold;
}
.ArticleBottom button {
    background-color: #161616;
    vertical-align: top;
    border: none;
}
.ArticleBottom button:nth-child(2){
	float:right;
}
.ArticleBottom a{
    padding: 0.2rem;
    vertical-align: top;
	text-decoration: none;
    border-radius: 2px;
	font-size:18px;
}
.ArticleBottom a:link, .ArticleBottom a:visited{
	color: #d31f12;
    background-color: #35116e;
}
.ArticleBottom a:hover{
    background-color: #35116e79;
}
footer {
    align-items: center;
    background-color: #8d3a3a;
    padding: 5px;
	display: flex;
}
footer ul {
	order: 0;
    width: 100%;
    text-align: center;
}
footer ul li {
    display: inline-block;
	margin: 0 1rem;
}

footer ul li:hover{
    opacity: 0.5;
}
footer p {
    text-align: center;
	order: 1;
    width: 100%;
}
.padding {
    padding: 1rem;
}
.break1 {
    margin: .3rem;
    border-color:#f5f4ab ;
    background-color: #f5f4ab;
    width: 100%;
    height: .01em;
}
